.task-list{
    padding:0;
    margin:0;
    display:flex !important;
    flex-direction: column !important;
    list-style-type:none !important;
}

.task-list li{
    list-style: none !important;
    position:relative;
    padding:20px;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #ccc;
    cursor:move;
    background:#fff !important;
    display:flex !important;
    visibility: visible !important;
    opacity:1!important;
}
.task-list li:last-child{
    border:none;
}
.task-list li.complete span{
    text-decoration: line-through;
}
.task-list input{
    margin:5px 10px 0 0;
}
.no-tasks{
    text-align:center;
    background:#fff;
    padding:20px;
}
.options{
    position:absolute;
    right:10px;
    top:15px;
}
.close{
    background:transparent;
    width:30px;
    height:30px;
    border:1px solid #ccc;
    border-radius: 3px;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items:center;
}

